* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

.form-control {
    width: 50%;
    margin: auto;
}

.form_title {
    padding-top: 100px;
    text-align: center;
    color: blue;
}

